<!doctype html>
<title>LOL</title>
<form enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>partion:</td>
            <td><input type="text" id="partion" name="lolpartion"/> </td>
        </tr>
        <tr>
            <td>UserId:</td>
            <td><input type="text" id="userid" name="loluserid"/></td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="reset" />
                <input type="submit" />
            </td>
    </table>
</form>